@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
    background-color: rgb(223, 219, 219);
    font-family: 'Open Sans', 'Helvetica', sans-serif;

}

.input-radio-question {
    text-align: center;
    /* max-width: auto; */
    margin: -50px 0 0 100px;
}

.input-container {
    float: left;
    position: relative;
    height: 20px;
    width: 120px;
    margin: 70px 60px 0 0;
}

.radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 150px;
    margin: 0;
    cursor: pointer;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    border: 2px solid rgb(153, 148, 148);
    border-radius: 3px;
    padding: 1rem;
    transition: transform 300ms ease;
}

.radio-tile-label {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(97, 92, 92);
}

.radio-button:checked+.radio-tile {
    background-color: transparentize(red, .85);
    border: 2px solid red;
    background-color: rgb(241, 199, 204);
    color: rgb(90, 65, 65);
    transform: scale(1.1, 1.1);
}


h1, h4, h5 {
    text-align: center;
}

.compoDiv {
    width: 1000px;
    height: 2140px;
    background-color: aliceblue;
    padding: 50px;
    margin: 50px auto;
    border: solid 1px rgb(145, 145, 145);
    box-sizing: border-box;
    display: block;
}
.compoDivAddWork{
    width: 1000px;
    height: 1530px;
    background-color: aliceblue;
    padding: 50px;
    margin: 50px auto;
    border: solid 1px rgb(145, 145, 145);
    box-sizing: border-box;
    display: block;
}

.listSalaryDiv{
    width: 80%;
    height: 140px;
    /* background-color: white; */
    margin: 0 0 0 25%;
}

.salary {
    float: left;
    width: 120px;
    height: 140px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 0 0 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

.salary > p {
    font-size: 22px;
}

.infoBase {
    font-size: 12px;
    margin-top: 750px;
    margin-left: 100px;
}

.hesitezPas {
    font-size: 20px;
    text-align: center;
    color: red;
}

.form{
    margin: 40px 0 0 90px;
}